*.tar.gz
*.bak
scam/
test_ex_dir/
train/1/
train/5
train/10
train/20
train/70
train/100
train/infosec
infosecdataset/
.venv/
**/.venv/
bot/*.session
bot/*.session-journal
**/__pycache__
chat-exports/*.json